# Ignore
.git
.github
docs
tests
threedframe
.editorconfig
Makefile
data
renders_old
.pytest_cache
snapback
LICENSE
.ipython
README.md
.hypothesis
.pnpm-debug.log
.coverage
.gitignore
.local
.idea
.envrc
.bash_history
.direnv
.venv
.ropeproject
.dockerignore
.pre-commit-config.yaml
.tool-versions
scripts
renders
.mypy_cache
Dockerfile
docker-compose.yml
poetry.lock
pyproject.toml
openscad.conf

# Don't ignore
!pyproject.toml
!poetry.lock
!./scripts/docker-entrypoint.sh
!Makefile
!threedframe
!tests
!docs
!LICENSE
!README.md
