[submodule "threedframe/lib/MCAD"]
	path = threedframe/lib/MCAD
	url = https://github.com/openscad/MCAD.git
[submodule "threedframe/lib/dotSCAD"]
	path = threedframe/lib/dotSCAD
	url = https://github.com/JustinSDK/dotSCAD.git
